aside.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: $color-primary;
    color: $color-white;
}

@media(max-width: $width-cell) {
    aside.logo {
        justify-content: center;
    }
}