aside.menu {
    background-color: $color-bg-dark;
    padding: 10px;
}

aside.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    margin: 10px 0px;
    padding: 5px; 
    font-size: $average-size;
}

aside.menu a:hover {
    background-color: $color-primary;
}

@media(max-width: $width-tablet) {
    aside.menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    aside.menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}

@media(max-width: $width-cell) {
    aside.menu {
        justify-content: center;
    }
}